<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <!--Sticky footer-->
        <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
        <!--Custom CSS-->
        <link href="/css/custom.css" rel="stylesheet">
        <link href="/css/NSbookstyles.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

    {% include header.html %}
    <div class="container">
        <ul class="pager">
          <li><a class="previous" ref="#">&larr; Previous section</a></li>
          <li><a href="tableofcontents.html">Table of Contents</a></li>
          <li><a class="next" href="#">Next section &rarr;</a></li>
        </ul>
    </div>
    {{ content }}
    <div class="container">
        <ul class="pager">
          <li><a class="previous" ref="#">&larr; Previous section</a></li>
          <li><a href="tableofcontents.html">Table of Contents</a></li>
          <li><a class="next" href="#">Next section &rarr;</a></li>
        </ul>
    </div>
    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/language-toggler.js"></script>
    <script src="/js/toc-handler.js"></script>
<!--    <script src="js/filter-html.js"></script> -->
    </body>
</html>
