    <div id="footer">
    
   <div class="container"> 
       <div class="col-md-9"> 
            <div class="col-md-3 col-sm-6 col-xs-12 footer-logo">
            
               <a href="http://www.education.gov.za/" target="_blank"><img src="{{ site.url}}/img/depbas.jpg" alt="Department of Basic Education - South Africa"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-logo">
                <a href="http://www.sasol.com/" target="_blank"><img src="{{ site.url }}/img/sasol.jpg"  alt="Sasol - Reaching New Frontiers"></a>
            </div>
           <!-- <div class="col-md-2 col-sm-6 col-xs-12 footer-logo">
                <a href="http://www.sasolinzalofoundation.org.za/" target="_blank"><img src="img/inzalo.jpg"  alt="Sasol Inzalo Foundation"></a>
            </div>-->
            <div class="col-md-3 col-sm-6 col-xs-12 footer-logo">
                <a href="http://www.siyavula.com" target="_blank"><img src="{{ site.url }}/img/siyavula.jpg"  alt="Siyavula - Technology-powered Learning"></a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-logo">
                <a href="http://ukuqonda.co.za/" target="_blank"><img src="{{ site.url }}/img/ukuqonda.jpg"  alt="Ukuqonda Institute"></a>
            </div>

           </div>
           </div><!--./container-->
    </div><!--./footer-->

